// global classes
$hda-color-white: #fff;
$hda-color-black: black; 
$hda-color-primary: #14B8A6; 

$hda-weight-regular: 400;
$hda-weight-medium: 500;
$hda-weight-semi: 600;
$hda-weight-bold: 700;

$hda-space: 8px;
$hda-space-xs: 4px;
$hda-space-s: $hda-space * 2;
$hda-space-m: $hda-space * 3;
$hda-space-l: $hda-space * 4;
$hda-space-xl: $hda-space-l * 2;